# Format: //devtools/kokoro/config/proto/build.proto

# Build logs will be here
action {
  define_artifacts {
    regex: "**/*sponge_log.xml"
  }
}

# Download trampoline resources.
gfile_resources: "/bigstore/cloud-devrel-kokoro-resources/trampoline"

# Use the trampoline script to run in docker.
build_file: "protobuf/kokoro/docs/trampoline.sh"

# Configure the docker image for kokoro-trampoline.
env_vars: {
    key: "TRAMPOLINE_IMAGE"
    value: "gcr.io/cloud-devrel-kokoro-resources/python-multi"
}

env_vars: {
    key: "STAGING_BUCKET"
    value: "docs-staging"
}

# Fetch the token needed for reporting release status to GitHub
before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 73713
      keyname: "yoshi-automation-github-key"
    }
  }
}

before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 73713
      keyname: "docuploader_service_account"
    }
  }
}
