*.bundle
tags
.idea/
lib/google/protobuf_java.jar
protobuf-jruby.iml
target/
pkg/
tmp/
tests/google/
ext/google/protobuf_c/third_party/utf8_range/utf8_range.h
ext/google/protobuf_c/third_party/utf8_range/utf8_range.c
ext/google/protobuf_c/third_party/utf8_range/utf8_range_sse.inc
ext/google/protobuf_c/third_party/utf8_range/utf8_range_neon.inc
ext/google/protobuf_c/third_party/utf8_range/LICENSE
lib/google/protobuf/*_pb.rb