*.bundle
tags
.idea/
lib/google/protobuf_java.jar
protobuf-jruby.iml
target/
pkg/
tmp/
tests/google/
/ext/google/protobuf_c/utf8_range.h
/ext/google/protobuf_c/range2-sse.c
/ext/google/protobuf_c/range2-neon.c
/ext/google/protobuf_c/naive.c
/ext/google/x86_64-darwin/
