# Config file for running tests in Kokoro

# Location of the build script in repository
build_file: "protobuf/kokoro/linux/benchmark/build.sh"
timeout_mins: 240

action {
  define_artifacts {
    regex: "**/sponge_log.xml"
  }
}
