# Package management
project.lock.json
.vs

# Output directories
bin
obj
tmp

# Miscellaneous files
# (possibly out of date...)

mono/protoc
build_output
build_temp
build/msbuild*.log

#
# 	Untracked files
#
*.user
*.suo
*.nupkg
_ReSharper.*
*.sln.cache
mono/TestResult.xml
mono/.libs
mono/*.exe
mono/*.dll
lib/protoc.exe
*.ncrunch*
