# Untracked files

src/AddressBook/bin
src/AddressBook/obj
src/ProtocolBuffers/bin/
src/ProtocolBuffers/obj/
src/ProtocolBuffers.Test/bin/
src/ProtocolBuffers.Test/obj/
src/ProtoBench/bin/
src/ProtoBench/obj/
src/ProtoDump/bin/
src/ProtoDump/obj/
src/ProtoGen/bin/
src/ProtoGen/obj/
src/ProtoGen.Test/bin/
src/ProtoGen.Test/obj/
src/ProtoMunge/bin/
src/ProtoMunge/obj/
tmp/
dist/
*.user
*.suo
_ReSharper.*
*.sln.cache
mono/bin
mono/tmp
mono/protoc
mono/TestResult.xml
mono/.libs
mono/*.exe
mono/*.dll

_tmp/
_dist/
_benchmark