[submodule "third_party/googletest"]
	path = third_party/googletest
	url = ../googletest.git
	ignore = dirty
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = ../abseil-cpp.git
	branch = lts_2023_08_02
[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = ../jsoncpp.git
