[project]
	description = Protocol Buffers - Google's data interchange format
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chris Fallin (cfallin)
	owner = group user/Jisi Liu (pherl)
	owner = group user/Joshua Haberman (haberman)
[access "refs/for/refs/*"]
	read = group user/Jisi Liu (pherl)
	read = group user/TeBoring
	push = group user/Jisi Liu (pherl)
	push = group user/TeBoring
	label-Code-Review = -2..+2 group user/Jisi Liu (pherl)
	label-Code-Review = -2..+2 group user/TeBoring
	label-Verified = -1..+1 group user/Jisi Liu (pherl)
	label-Verified = -1..+1 group user/TeBoring
	rebase = group user/Jisi Liu (pherl)
	rebase = group user/TeBoring
	removeReviewer = group user/Jisi Liu (pherl)
	removeReviewer = group user/TeBoring
	submit = group user/Jisi Liu (pherl)
	submit = group user/TeBoring
[access "refs/heads/*"]
	read = group user/Jisi Liu (pherl)
	create = group user/Jisi Liu (pherl)
	push = +force group user/Jisi Liu (pherl)
	pushMerge = group user/Jisi Liu (pherl)
[access "refs/tags/*"]
	push = +force group user/Jisi Liu (pherl)
	pushTag = group user/Jisi Liu (pherl)
	pushSignedTag = group user/Jisi Liu (pherl)
