# Config file for running tests in Kokoro

# Location of the build script in repository
build_file: "protobuf/kokoro/linux/64-bit/build.sh"
timeout_mins: 120

action {
  define_artifacts {
    regex: "**/sponge_log.xml"
  }
}
