# Config file for running tests in Kokoro

# Location of the build script in repository
build_file: "protobuf/kokoro/macos-next/cpp/build.sh"
timeout_mins: 1440

# Upload logs
action: {
  define_artifacts: {
    regex: "**/*sponge_log.log"
    regex: "**/*sponge_log.xml"
    regex: "bazel_invocation_ids"
  }
}

bazel_setting: {
  project_id: "protobuf-build"
  bes_backend_address: "buildeventservice.googleapis.com"
  foundry_backend_address: "remotebuildexecution.googleapis.com"
  upsalite_frontend_address: "https://source.cloud.google.com"
  local_execution: true
}
