# Config file for running tests in Kokoro

# Location of the build script in repository
build_file: "protobuf/kokoro/macos-next/cpp/build.sh"
timeout_mins: 1440

# Upload logs
action: {
  define_artifacts: {
    regex: "protobuf/cmake/build/**/*sponge_log.log"
    regex: "protobuf/cmake/build/**/*sponge_log.xml"
  }
}
