# Configuration for Windows protoc release builds
build_file: "protobuf/kokoro/release/python/windows/build_artifacts.bat"

action {
  define_artifacts {
    regex: "github/protobuf/artifacts/**"
  }
}
