# Config file for running Linkage Monitor in Kokoro
# https://github.com/GoogleCloudPlatform/cloud-opensource-java/tree/master/linkage-monitor

# Location of the build script in repository
build_file: "protobuf/kokoro/linux/java_jdk11/build.sh"
timeout_mins: 120

action {
  define_artifacts {
    regex: "**/sponge_log.xml"
  }
}
