common --enable_platform_specific_config

build:linux --cxxopt=-std=c++14 --host_cxxopt=-std=c++14
build:macos --cxxopt=-std=c++14 --host_cxxopt=-std=c++14

common:windows --enable_runfiles

build --experimental_remote_cache_eviction_retries=5
build --remote_download_outputs=all
