# Config file for running tests in Kokoro

# Location of the build script in repository
build_file: "protobuf/kokoro/release/csharp/windows/build_nuget.bat"
timeout_mins: 60

action {
  define_artifacts {
    regex: "**/*.nupkg"
  }
}
