ext/google/protobuf/Makefile
ext/google/protobuf/configure
ext/google/protobuf/BUILD_STAMP
ext/google/protobuf/wkt.inc
ext/google/protobuf/*.dep
ext/google/protobuf/*.cache
ext/google/protobuf/*.h.in
tmp/
