<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap_phpunit.php"
         colors="true">
  <testsuites>
    <testsuite name="protobuf-tests">
      <file>tests/PhpImplementationTest.php</file>
      <file>tests/ArrayTest.php</file>
      <file>tests/EncodeDecodeTest.php</file>
      <file>tests/GeneratedClassTest.php</file>
      <file>tests/GeneratedPhpdocTest.php</file>
      <file>tests/MapFieldTest.php</file>
      <file>tests/WellKnownTest.php</file>
      <file>tests/DescriptorsTest.php</file>
      <file>tests/GeneratedServiceTest.php</file>
      <file>tests/WrapperTypeSettersTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
